@model CreateCategoryDto

@{
	ViewData["Title"] = "CreateCategory";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="chart-box">
				<h4>Kategori Ekleme Sayfası</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">
					<form method="post">
						<div class="form-group">
							<label for="exampleInputEmail1">Kategori Adı</label>
							<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Kategori Adı" asp-for="CategoryName" >
						</div>
						<button class="btn btn-primary">Kategori Ekle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>