@model UpdateCommentDto
@{
	ViewData["Title"] = "UpdateComment";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="chart-box">
				<h4>Yorum Güncelleme Sayfası</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">
					<form method="post">
						<input type="hidden" class="form-control" asp-for="UserCommentId">
						<input type="hidden" class="form-control" asp-for="ProductId">
						<label>Kullanıcı Adı Soyadı</label>
						<input type="text" class="form-control" asp-for="NameSurname">
						<br />
						<label>Email Adresi</label>
						<input type="text" class="form-control" asp-for="Email">
						<br />
						<label>Kulllanıcı Puanı</label>
						<input type="text" class="form-control" asp-for="Rating">
						<br />
						<label>Kullanıcı Görseli</label>
						<input type="text" class="form-control" asp-for="ImageUrl">
						<br />
						<label>Yorum Tarihi</label>
						<input type="date" class="form-control" asp-for="CreatedDate">
						<br />
						<label>Yorum</label>
						<textarea class="form-control" asp-for="CommentDetail" rows="3"></textarea>
						<button class="btn btn-success">Yorum Güncelle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>